<div class="container-fluid fixed-top bg-transparent">
    <nav class="navbar bg-transparent">
        <a class="navbar-brand text-light" href="/">Galaxy Travel</a>
        <a class="nav-item nav-link active text-light" href="/">Home</a>
        <a class="nav-item nav-link text-light" routerLink="app-blog">Blog</a>
        <a class="nav-item nav-link text-light" href="#section1">Travels</a>
        <a class="nav-item nav-link text-light" routerLink="app-contact">Contact</a>
        <button type="button" class="btn btn-primary" routerLink="/app-cart">Cart</button>
    </nav>
</div>